# blacklist everything except some key dotfiles, and .c files in ~/code/learningc/

/*
!.gitignore
!.vimrc
!.tmux.conf
!.emacs

!code/
code/*
!code/learningc/
code/learningc/*
!code/learningc/*.c
!code/learningc/Makefile
